<mat-card class="card-element">
  <mat-card-content>
    <div style="display: flex">
      <div>
        <p class="lbl-title">
          {{ title | titlecase }},
          <span class="lbl-value">{{ region | titlecase }}</span>
        </p>
      </div>
      <img
        style="
          height: 30px;
          margin-top: 4px;
          margin-left: auto;
          margin-right: 10px;
        "
        [src]="isFavorite ? 'assets/favorite_full.png' : 'assets/favorite.png'"
        (click)="onFavoriteClicked()"
      />
    </div>

    <div style="display: flex">
      <div class="div-details">
        <p class="lbl-title">Country</p>
        <p class="lbl-info">{{ country | titlecase }}</p>
      </div>

      <div class="div-details">
        <p class="lbl-title">Timezone</p>
        <p class="lbl-info">{{ timezone | titlecase }}</p>
      </div>
      <div class="div-details">
        <p class="lbl-title">Local Time</p>
        <p class="lbl-title">{{ localtime | date : "medium" }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
